---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects - Loren Ndung'u">
  <div
    class="max-w-screen-xl flex flex-wrap mx-auto mt-10 rounded justify-center lg:justify-start slide-up"
  >
    <ProjectCard
      title="Ltronix Shop"
      description="Ltronix Shop is a full-stack e-commerce platform built with a modern architecture, featuring a decoupled frontend and backend, automated CI/CD pipelines, and infrastructure as code. It is a production ready ecommerce designed to provide a seamless online shopping experience"
      link="https://ltronix-shop.vercel.app/products"
      github="https://github.com/ndunguloren96"
      image="/images/ltronix-products.png"
    />
    <ProjectCard
      title="Prompt Wand"
      description="PromptWand is an enterprise-grade, web-based platform for AI prompt optimization. Leveraging asynchronous processing and advanced analytics, to empowers users to efficiently create, test, and enhance prompts for large language models."
      link="https://promptwand.vercel.app"
      github="https://github.com/ndunguloren96"
      image="/images/promptwand.png"
    />
    <ProjectCard
      title="University Backend Class Attendance System"
      description="This project is a scalable, user-friendly C-based backend for managing university class attendance, supporting multiple units, lecturers, and roles."
      link="https://github.com/ndunguloren96/university_class_attendance_system"
      github="https://github.com/ndunguloren96/university_class_attendance_system"
      image="/images/admin-login.png"
    />
    <ProjectCard
      title="Webnuru Technologies"
      description="Webnuru delivers bespoke web solutions and digital products, leveraging modern technologies like Next.js and Django to build professional, high-performance, and scalable platforms."
      link="https://webnuru.vercel.app"
      github="https://github.com/webnuru"
      image="/images/webnuru.png"
    />
    <ProjectCard
      title="Portfolio Website"
      description="This portfolio website showcases a modern, responsive design built with best practices in web development, featuring interactive components and a visually engaging layout to highlight personal projects and professional experience. It leverages technologies such as Astro and CSS modules for maintainable, scalable code and optimal performance across devices."
      link="https://ndunguloren.netlify.app"
      github="https://github.com/ndunguloren96/my-portfolio-website"
      image="/images/portfolio-screenshot.png"
    />
  </div>
</Layout>

<style>
  .slide-up {
    transform: translateY(-50%);
    opacity: 0;
    animation: slideUp 1s forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
